<!-- Default number of columns is two. If 3 is defined, then third column is added-->
<div id="masonry">
    <% page.posts.forEach(function(post) { %>
        <%- include('post_feed', { post: post }) %>
    <% }); %>
</div>

<div class="pagination">
    <% if (page.next) { %>
        <a href="<%- url_for(page.next_link) %>"></a>
    <% } %>
</div>